@inherits LayoutComponentBase

<div class="card event-card" style="width: 20rem; margin: 1rem;">
    <div class="card-body">
        <h5 class="card-title">@Name</h5>
        <h6 class="card-subtitle mb-2 text-muted">@Date.ToShortDateString()</h6>
        <p class="card-text">@Location</p>

        <a class="btn btn-link" href="eventdetails/@Id">Details</a>
        <a class="btn btn-primary" href="register/@Id">Register</a>
    </div>
</div>

@code {
    [Parameter]
     public int Id { get; set; }
     [Parameter]
    public required string Name { get; set; }
    [Parameter]
    public DateOnly Date { get; set; }
    [Parameter]
    public required string Location { get; set; }
}

